@import 'colors';
@import 'vars';
@import 'mixins';

$loader-color: lighten($primary-color, 10%);

@include keyframe(pulse) {
  0% {
    transform: none ;
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: none;
  }
}

@mixin be-loader-spiner-item {
  content: ' ';
  display: block;
  position: relative;
  width: 4px;
  height: 4px;
  background-color: $loader-color;
  border: 1px solid $loader-color;
  border-radius: 50%;

  @include animation(pulse 1s ease infinite normal);
}

.be-loader {
  position: relative;
  color: $primary-color;
  text-align: center;
  height: 45px;
  overflow: hidden;

  &__blocking,
  &__fullscreen {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
  }

  &__blocking {
    position: absolute;
    z-index: 5;
  }

  &__fullscreen {
    position: fixed;
    z-index: 200;
  }

  &-spinner {
    display: inline-block;
    width: 40px;
    height: 40px;

    vertical-align: top;

    i {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;

      &:before {
        @include be-loader-spiner-item;
        top: 16px;
      }
      &:after {
        @include be-loader-spiner-item;
        top: -16px;
      }

      @for $i from 1 through 4 {
        &:nth-of-type(#{$i}) {
          transform: translate(-50%, -50%) rotate(45deg * $i);
          &:before {
            @include animation-delay(0.125s * $i);
          }
          &:after {
            @include animation-delay(0.5s + (0.125s * $i));
          }
        }
      }
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}