@import '~styles/colors';
@import '~styles/vars';

.be-admin {
  &-header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
  }

  &-link {
    font-size: 20px;
    color: $grey-darken-color;
    margin-right: 40px;

    &:hover {
      font-weight: 700;
      text-decoration: none;
    }

    &.be-admin-active-link {
      font-size: 24px;
      font-weight: 700;
    }
  }
}
