@import './colors';

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500');

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: $grey-darken-color;
  background: $body-background-color;
}

button, input, optgroup, select, textarea {
  font-family: 'Fira Sans', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Clearfix class */
.group:after {
  content: "";
  display: table;
  clear: both;
}

:global(#root) {
  height: 100%;
}

a {
  text-decoration: none;
  color: $primary-color;
  &:hover {
    text-decoration: underline;
  }
}

h1 {
  margin: 0;
  margin-right: .5em;
  font-size: 24px;
  font-weight: 700;
  color: $grey-darken-color;
}

input::-ms-clear {
  display: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

::placeholder {
  color: rgba($grey-color, 0.57);
}

:-ms-input-placeholder {
  color: rgba($grey-color, 0.57);
}

::selection {
  background-color: $selection-color;
  color: $light-text-color;
}

svg {
  vertical-align: middle;

  :global(.be-icon-fill),
  :global(.be-icon-stroke) {
    transition: all .2s ease;
  }
}
