$break-tiny: 320px;
$break-mini: 400px;
$break-small: 560px;
$break-mobile: 620px;
$break-compact: 768px;
$break-tablet: 900px;
$break-medium: 1000px;
$break-large: 1340px;

$header-height-default: 40px;
$content-width-default: 1340px;
$padding-default: 10px;
$padding-desktop: 20px;
$border-radius-default: 6px;
$box-shadow-default: 0 1px 5px 0 rgba(36, 36, 38, 0.15);
$box-shadow-hover-default: 0 1px 10px 0 rgba(36, 36, 38, 0.15);

$header-height: 50px;
