@import 'colors';
@import 'vars';

.be-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  width: 100%;
  height: $header-height;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  background: $light-background-color;

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: $content-width-default;
    margin: 0 auto;
    padding: 0 $padding-desktop;
  }

  &-logo {
    flex-shrink: 0;
    margin-right: 60px;

    &-img {
      max-width: 100px;
    }
  }

  &-navigation {
    flex-grow: 1;

    a {
      transition: all .2s;
      display: inline-block;
      text-align: center;
      width: 120px;
      line-height: $header-height - 10;
      color: $grey-darken-color;
      margin: 5px 0;
      border-radius: 6px;

      &.be-header-navigation-active-link {
        background-color: $primary-color;
        color: $light-text-color;
      }

      &:hover {
        text-decoration: none;

        &:not(.be-header-navigation-active-link) {
          color: $primary-color;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .be-header {
    &-logo {
      margin-right: 30px;
    }

    &-navigation {
      a {
        width: 95px;
      }
    }
  }
}

@media screen and (max-width: $break-medium) {
  .be-header {
    &-content {
      padding: 0 $padding-default;
    }
  }
}

@media screen and (max-width: $break-small) {
  .be-header {
    &-logo {
      &-img {
        display: none;
      }
    }
  }
}