@import 'colors';
@import 'vars';
@import 'mixins';

.be-header-user {
    position: relative;
    @include be-drop-down-arrow;

    &:after {
      border-top-color: $grey-color;
    }

    &__active {
      &:after {
        transform: translateY(-50%) rotate(180deg);
      }
    }

    &-avatar {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background-color: $light-background-color;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
      box-shadow: $box-shadow-default;

      &__default {
        background-size: auto;
      }
    }

    &__active {
      .be-header-user-menu {
        opacity: 1;
        transform: none;
        z-index: 6;
      }
    }

    &-menu {
      cursor: default;
      width: auto;
      min-width: 250px;
      background: $light-background-color;
      border-radius: 6px;
      position: absolute;
      box-shadow: $box-shadow-default;
      right: 0;
      top: $header-height + 10;
      padding: 20px;
      text-align: left;
      transition: all .2s ease;
      transform: translateY(-50%) scaleY(0);
      opacity: 0;

      &-item {
        margin-bottom: 15px;

        &:last-of-type {
          margin-bottom: 0;
        }

        &-title {
          font-size: 10px;
          line-height: 16px;
          text-transform: uppercase;
          color: $grey-color;
          letter-spacing: 0;
        }

        &-value {
          font-size: 14px;
        }
      }

      a {
        display: block;
        margin-top: 1.3em;
      }

      .be-version-label {
        font-size: 12px;
        position: absolute;
        color: $grey-lighten-color;
        right: 6px;
        bottom: 6px;
      }
    }
}