@import 'colors';
@import 'vars';

.be-subroute-nav {
  &-link {
    font-size: 22px;
    line-height: 30px;
    color: $grey-color;
    padding: 0 20px;
    border-right: 1px solid $grey-lighten-color;

    &:last-child {
      border-right: none;
    }

    &:first-child {
      padding-left: 0;
    }

    &:hover {
      color: $grey-darken-color;
      text-decoration: none;
    }

    &.be-subroute-nav-active-link {
      cursor: default;
      color: $grey-darken-color;
    }
  }
}
