@import '~styles/colors';
@import '~styles/vars';

.be-projects-list {
  position: relative;
  margin: 20px 0;
  width: 100%;
  border-radius: 6px;
  box-shadow: $box-shadow-default;
  background-color: $light-background-color;

  &-header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    padding: 0 15px 0 20px;
  }

  &-status {
    display: inline-block;
    padding: 2px 5px;
    text-transform: uppercase;
    border-radius: 3px;
    border: 1px solid $light-text-color;
  }

  &-load-more {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
  }

  &-pagination {
    display: flex;
    margin: 10px 0;
    justify-content: center;
  }
}
