@import 'colors';
@import 'vars';

.mdr-pagination {
  display: flex;
  justify-content: space-around;

  &-page {
    transition: .1s all;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: $grey-color;

    &:hover:not(.mdr-pagination-gap) {
      color: $grey-darken-color;
    }

    &__active {
      font-weight: bold;
      color: $grey-darken-color;
    }
  }

  &-gap {
    cursor: default;
  }

  &-icon-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;

    &:hover {
      .mdr-pagination-icon {
        fill: $grey-darken-color;
      }
    }
  }
}
