@import 'colors';
@import 'vars';
@import 'mixins';

.be-btn {
  @include be-btn;
  flex-shrink: 0;

  &:disabled {
    opacity: 0.56;
  }

  &-withicon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-title {
    margin-left: 5px;
  }

  &-link {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }

  &__primary,
  &__secondary {
    min-width: 130px;
    box-shadow: $box-shadow-default;

    &:hover:not(:disabled) {
      box-shadow: $box-shadow-hover-default;
    }
  }

  &__primary {
    background-color: $primary-color;
    color: $light-text-color;

    &:hover:not(:disabled), &:focus {
      background-color: $grey-darken-color;
    }
  }

  &__secondary {
    background-color: $light-background-color;

    &:hover:not(:disabled), &:focus {
      color: $primary-color;

      .be-icon-fill__secondary {
        fill: $primary-color;
      }

      .be-icon-stroke__secondary {
        stroke: $primary-color;
      }
    }
  }

  &__inline-dark,
  &__inline-light {
    height: 32px;
    line-height: 30px;
    border-radius: 3px;
    padding: 0 5px;
    background-color: transparent;
  }

  &__inline-dark {
    &:hover:not(:disabled) {
      color: $primary-color;

      .be-icon-fill__inline-dark {
        fill: $primary-color;
      }

      .be-icon-stroke__inline-dark {
        stroke: $primary-color;
      }
    }
  }

  &__inline-light {
    color: rgba($light-text-color, 0.56);

    &:hover:not(:disabled) {
      color: $light-text-color;
      background-color: $primary-color;

      .be-icon-fill__inline-light {
        fill: $light-text-color;
      }

      .be-icon-stroke__inline-light {
        stroke: $light-text-color;
      }
    }
  }
}

.be-icon-fill {
  &__primary {
    fill: $light-text-color;
  }

  &__secondary {
    fill: $grey-color;
  }

  &__inline-dark {
    fill: $grey-color;
  }

  &__inline-light {
    fill: $disabled-transparent-color;
  }
}

.be-icon-stroke {
  &__primary {
    stroke: $light-text-color;
  }

  &__secondary {
    stroke: $grey-color;
  }

  &__inline-dark {
    stroke: $grey-color;
  }

  &__inline-light {
    stroke: $disabled-transparent-color;
  }
}